<section id='see-also-section'>
<h2 id='see-also'>See also</h2>

<ul>
<li><b>Online version</b> [% data.online_text %] at <a href='[% data.online_url %]'>[% data.online_url %]</a>.

<li><a href='https://www.cl.cam.ac.uk/~mgk25/unicode.html'>UTF-8 and
Unicode FAQ for Unix/Linux</a> by Markus Kuhn at the University of
Cambridge</a>
(<a href='https://web.archive.org/web/20210415112330/https://www.cl.cam.ac.uk/~mgk25/unicode.html'>archive</a>)</li>

</ul>
</section>
