.Dd [% date %]
.Dt UNICODE 3
.Sh NAME
[%- FOR function IN functions %]
.Nm [% function.name %]
[%- END %]
.Sh SYNOPSIS
.In stdint.h
.In unicode.h
.Sh DESCRIPTION
[% description %]
.Sh FUNCTIONS
[%- FOR function IN functions %]
.Ss [% function.name %]
.Ft [% function.type %]
.Fo [% function.name %]
[%- FOR arg IN function.args %]
.Fa "[% arg %]"
[%- END %]
.Fc
.Pp
[% function.desc %]
[%- END %]
.Sh RETURN VALUE MACROS
[%- FOR macro IN macros %]
.Ss [% macro.name %]
[% macro.name %] ([% macro.value %])
.Pp
[% macro.meaning %]
[%- END %]
.Sh SEE ALSO
https://www.lemoda.net/tools/uniconvert/index.html
.Pp
https://github.com/benkasminbullock/unicode-c
